# Игнорируем виртуальное окружение, которое будет создано в проекте
.venv/

# Игнорируем системные папки IDE и ОС
.idea/
.vscode/
__pycache__/
*.pyc
.DS_Store

# Игнорируем данные PostgreSQL
postgres_data/

# Игнорируем локальные файлы Alembic, если они появятся
alembic/
alembic.ini
