services:
  bot:
    build: .
    user: "${UID}:${GID}"
    env_file: .env
    environment:
      - POETRY_VIRTUALENVS_IN_PROJECT=true
    volumes:
      - .:/app
    depends_on:
      - postgres
    restart: on-failure

  postgres:
    image: postgres:15-alpine
    env_file: .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data:
